<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/sub_header.css">
    <link rel="stylesheet" href="/css/sub_main.css">
    <link rel="stylesheet" href="/css/notice.css">
    <link rel="stylesheet" href="/css/post.css">
    <link rel="stylesheet" href="/css/footer.css">
  <style>
    .contentbody{
    border: none;
    }
  </style>


</head>
<body>
  <div class="wrapper">
    <header class="header_wrap">
      <div class="header_top">
        <div class="ht_info">
          <div class="tnb_menu">
            <a href="./login.html">로그인</a>
            <a href="./signup.html">회원가입</a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="hb_info">
          <div class="gnb">
            <a href="./main.html"><img class="BeomeoLogoB1" src="/img/beomeo_logo_b.png"></a>
            <ul class="gnb_menu">
              <li><a href="./1-1search.html">자료검색</a></li>
              <li><a href="./2-1lend.html">대여안내</a></li>
              <li><a href="./3-1notice.html">열린공간</a></li>
              <li><a href="./4-1greetings.html">도서관 소개</a></li>
              <li><a href="./5-1myInfo.html">나의 도서관</a></li>
              <li><a href=""><img src="/img/menubar.png" style="width: 35px; height: 35px; padding-top: 3px;" alt="메뉴바"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="main_wrap">
      <div class="main_top">
        <div class="mt_index">
          <h1>공지사항</h1>
        </div>
        <div class="mt_index2">
          <ul>
            <li class="home"><a href=""><img src="/img/navi_home_icon.gif" alt="Home"></a></li>
            <li><a href="./3-1notice.html">열린공간</a></li>
            <li>공지사항</li>
            <li>도서리뷰</li>
          </ul>
        </div>
      </div>
      <div class="main_bottom">
        <form class="mb_info"  th:action="@{/boards/remove(anId=${board.anId})}">
          <input type ="hidden" name="anId" th:value="${board.anId}">
          <div class="mb_info_top">
            <div class="mbt_t"><input class="contentbody" type="text" th:field="${board.anTitle}" style="font-size:25px" readonly/></div>
          </div>
          <div class="mbt_wd">
            <div class="mbt_w">작성자</div>
            <div class="mbt_ww"><input class="contentbody" type="text" th:field="*{board.userId}" readonly/></div>
            <div class="mbt_d">작성일</div>
            <div class="mbt_dd"><input class="contentbody" type="text" th:field="*{board.anRegisterDate}" readonly/></div>
            <div class="mbt_views">
              <div class="mbt_v">조회수</div>
              <div class="mbt_vv" th:text="${board.anViewCnt}"></div>
            </div>
          </div>
          <div class="mbt_file">
            <div class="mbt_f">첨부파일</div>
            <div class="mbt_ff">file</div>
          </div>
          <div class="mb_info_bottom">
            <div class="mbb_w"><textarea class="contentbody" rows="6" style="resize:none" th:field="*{board.anContent}" readonly></textarea></div>
          </div>
          <div class="modifybtn">
            <button class="mdf_btn"><a th:href="@{/boards/3-5modify(anId=${board.anId}, pageNum=${criteria.pageNum}, type=${search.type}, keyword=${search.keyword})}">수정</a></button>
            <input type="submit" value="삭제" class="mdf_btn"/>
            <button class="mdf_btn"><a th:href="@{/boards/notice(pageNum=${criteria.pageNum}, type=${search.type}, keyword=${search.keyword})}">목록으로 <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor"class="bi bi-arrow-right" viewBox="0 0 15 15">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg></a></button>
          </div>  
        </form>
      </div>
    <footer class="footer_wrap">
      <div class="footer_top">
        <div class="ft_info">
          <div class="ft_menu">
            <div ><a href="">개인정보처리방침</a></div>
            <div ><a href="">영상정보처리방침</a></div>
            <div ><a href="">이용약관</a></div>
            <div ><a href="">도서관서비스헌장</a></div>
            <div ><a href="">저작권보호정책</a></div>
            <div ><a href="">뷰어다운로드</a></div>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="fb_info">
          <p> 대구 수성구 달구벌대로 2451 (범어동, 범어도서관) 전화 053-668-1600 팩스 053-668-1609<br/>Copyright ⓒ 수성구립 범어도서관. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </div>
  </div>
</body>
</html>