<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/basic.css">
    <link rel="stylesheet" href="/css/sub_header.css">
    <link rel="stylesheet" href="/css/sub_main.css">
    <link rel="stylesheet" href="/css/notice.css">
    <link rel="stylesheet" href="/css/introduce.css">
    <link rel="stylesheet" href="/css/footer.css">


</head>
<body>
  <div class="wrapper">
    <header class="header_wrap">
      <div class="header_top">
        <div class="ht_info">
          <div class="tnb_menu">
            <a href="./login.html">로그인</a>
            <a href="./signup.html">회원가입</a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="hb_info">
          <div class="gnb">
            <a href="./main.html"><img class="BeomeoLogoB1" src=" /img/beomeo_logo_b.png"></a>
            <ul class="gnb_menu">
              <li><a href="./1-1search.html">자료검색</a></li>
              <li><a href="./2-1lend.html">대여안내</a></li>
              <li><a href="./3-1notice.html">열린공간</a></li>
              <li><a href="./4-1greetings.html">도서관 소개</a></li>
              <li><a href="./5-1myInfo.html">나의 도서관</a></li>
              <li><a href=""><img src=" /img/menubar.png" style="width: 35px; height: 35px; padding-top: 3px;" alt="메뉴바"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="main_wrap">
      <div class="main_top">
        <div class="mt_index">
          <h1>인사말</h1>
        </div>
        <div class="mt_index2">
          <ul>
            <li class="home"><a href=""><img src=" /img/navi_home_icon.gif" alt="Home"></a></li>
            <li><a href="./4-1greetings.html">도서관 소개</a></li>
            <li>인사말</li>
          </ul>
        </div>
        <div class="mt_info">
          <ul class="mt_menu">
            <li class="mt_m" style="background-color: rgb(42, 178, 196);"><a href="./4-1greetings.html" style="color: white">인사말</a></li>
            <li class="mt_m"><a href="./4-2time.html">이용시간</a></li>
            <li class="mt_m"><a href="./4-3map.html">찾아오시는 길</a></li>
          </ul>
        </div>
      </div>
      <div class="main_bottom">
        <div class="mb_info">
          <div class="content">
            <div class="doc">
                <div class="doc-body con43" id="contentArea">
                    <div class="body">

                        <!-- 게시판 메인 부분 -->
                        <div class="doc-body">
                            <div class="greeting_box greeting_box_img">
                                <h5>경산시립 백천도서관 홈페이지 방문을 진심으로 환영합니다.</h5>
                                <p>책은 행복한 삶의 시작이며 삶을 풍요롭게 합니다.</p>
                            </div>
                            <div class="greetingTxt">
                                <div class="greeting_sub">
                                    <p>"안녕하십니까?"
                                        <br>
                                        "백천도서관에 오신 것을 진심으로 환영합니다."
                                    </p>
                                    <br>
                                    <p>
                                        "지식과 정보, 문화가 사회발전의 원동력이 되는 오늘날, 다양한 지식정보 제공과 문화 활동 및 평생학습의 장이 될 수 있도록
                                        최선의 노력을 기울이겠습니다."
                                    </p>
                                    <br>
                                    <p>경산 도심 중심에 자리 잡은 수성구립 범어도서관은 뛰어난 접근성으로 지역민 누구나 자연스럽게 도서관을 찾을 수 있는 환경을 구축하고
                                        26만 여권의 장서와 함께 국제자료실, 범어미디어창작소, 메이커 스페이스, 스마트도서관, 북 카페, 스마트팜 등 다양한 시설을
                                        겸비한 지역밀착형 도서관입니다.
                                    </p>
                                    <br>
                                    <p>또한 백천도서관은 U-글래스의 독특한 외관과 야외광장, 분수대 그리고 옥상정원과 컬러풀광장 등 자연친화적이고 특색 있는 조경과
                                        조형물을 장식해 도서관을 찾는 이들에게 다양한 볼거리와 휴식의 공간을 제공합니다.
                                    </p>
                                    <br>
                                    <p>지역사회가 학교가 되는 ‘도서관 밖 도서관’, 10개년 계획의 범어도서관 인문학특화 프로그램인 ‘백천인문학’, 그리고 경증치매노인
                                        대상 독서치유프로그램인 ‘경산북테라피’ 및 글로벌프로그램 등을 중점적으로 운영하고 있습니다.
                                    </p>
                                    <br>
                                    <p>앞으로도 차별화된 전략으로 지역특성에 적합한 명품도서관으로 자리매김 할 것이며, 주민들의 다양한 정보욕구를 충족시키는 생활 속
                                        문화교육 복합공간으로 거듭나게 될 것입니다.
                                    </p>
                                    <br>
                                    <p>감사합니다.</p>
                                </div>
                            </div>
                        </div>
                        <div id="menuRatingDiv"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
    <footer class="footer_wrap">
      <div class="footer_top">
        <div class="ft_info">
          <div class="ft_menu">
            <div ><a href="">개인정보처리방침</a></div>
            <div ><a href="">영상정보처리방침</a></div>
            <div ><a href="">이용약관</a></div>
            <div ><a href="">도서관서비스헌장</a></div>
            <div ><a href="">저작권보호정책</a></div>
            <div ><a href="">뷰어다운로드</a></div>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="fb_info">
          <p> 대구 수성구 달구벌대로 2451 (범어동, 범어도서관) 전화 053-668-1600 팩스 053-668-1609<br/>Copyright ⓒ 수성구립 범어도서관. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>