<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/sub_header.css">
    <link rel="stylesheet" href="css/sub_main.css">
    <link rel="stylesheet" href="css/notice.css">
    <link rel="stylesheet" href="css/introduce.css">
    <link rel="stylesheet" href="css/footer.css">


</head>
<body>
  <div class="wrapper">
    <header class="header_wrap">
      <div class="header_top">
        <div class="ht_info">
          <div class="tnb_menu">
            <a href="./login.html">로그인</a>
            <a href="./signup.html">회원가입</a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="hb_info">
          <div class="gnb">
            <a href="./main.html"><img class="BeomeoLogoB1" src="css/img/beomeo_logo_b.png"></a>
            <ul class="gnb_menu">
              <li><a href="./1-1search.html">자료검색</a></li>
              <li><a href="./2-1lend.html">대여안내</a></li>
              <li><a href="./3-1notice.html">열린공간</a></li>
              <li><a href="./4-1greetings.html">도서관 소개</a></li>
              <li><a href="./5-1myInfo.html">나의 도서관</a></li>
              <li><a href=""><img src="css/img/menubar.png" style="width: 35px; height: 35px; padding-top: 3px;" alt="메뉴바"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="main_wrap">
      <div class="main_top">
        <div class="mt_index">
          <h1>이용시간</h1>
        </div>
        <div class="mt_index2">
          <ul>
            <li class="home"><a href=""><img src="css/img/navi_home_icon.gif" alt="Home"></a></li>
            <li><a href="./4-1greetings.html">도서관 소개</a></li>
            <li>이용시간</li>
          </ul>
        </div>
        <div class="mt_info">
          <ul class="mt_menu">
            <li class="mt_m"><a href="./4-1greetings.html">인사말</a></li>
            <li class="mt_m" style="background-color: rgb(42, 178, 196);"><a href="./4-2time.html" style="color: white">이용시간</a></li>
            <li class="mt_m"><a href="./4-3map.html">찾아오시는 길</a></li>
          </ul>
        </div>
      </div>
      <div class="main_bottom">
        <div class="mb_info">
          <div class="content">
            <div class="doc">
                <div class="doc-body con113" id="contentArea">
                    <div class="body">

                        <!-- 게시판 메인 부분 -->
                        <div class="doc-body">
                            <h3>이용시간</h3>
                            <div class="time_box">
                                <ul>
                                    <li class="book13 mb10">
                                        <div>
                                            <span>평일 09:00 ~ 18:00</span>
                                        </div>
                                    </li>
                                    <li class="book11 mb10">
                                        <div>
                                            <span>주말 09:00 ~ 17:00</span>
                                        </div>
                                    </li>
                                    <li class="book08" style="width: 100%;">
                                        <div>
                                            <span class="month_info">이번달 휴관일은</span>
                                            <ul class="close_day">
                                                <li>2,</li>
                                                <li>9,</li>
                                                <li>16,</li>
                                                <li>23</li>
                                            </ul>
                                            <span>일 입니다.</span>
                                            <p>일요일과 공휴일은 휴관입니다.</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div id="menuRatingDiv"></div>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
    <footer class="footer_wrap">
      <div class="footer_top">
        <div class="ft_info">
          <div class="ft_menu">
            <div ><a href="">개인정보처리방침</a></div>
            <div ><a href="">영상정보처리방침</a></div>
            <div ><a href="">이용약관</a></div>
            <div ><a href="">도서관서비스헌장</a></div>
            <div ><a href="">저작권보호정책</a></div>
            <div ><a href="">뷰어다운로드</a></div>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="fb_info">
          <p> 대구 수성구 달구벌대로 2451 (범어동, 범어도서관) 전화 053-668-1600 팩스 053-668-1609<br/>Copyright ⓒ 수성구립 범어도서관. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </div>
</body>
</html>