<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <link rel="stylesheet" href="/css/basic.css">
  <link rel="stylesheet" href="/css/sub_header.css">
  <link rel="stylesheet" href="/css/sub_main.css">
  <link rel="stylesheet" href="/css/notice.css">
  <link rel="stylesheet" href="/css/signup.css">
  <link rel="stylesheet" href="/css/footer.css">


</head>
<body>
<div class="wrapper">
  <header class="header_wrap">
    <div class="header_top">
      <div class="ht_info">
        <div class="tnb_menu">
          <a th:action="@{/login}">로그인</a>
          <a th:action="@{/register}">회원가입</a>
        </div>
      </div>
    </div>
    <div class="header_bottom">
      <div class="hb_info">
        <div class="gnb">
          <a href="/main"><img class="BeomeoLogoB1" src=" /img/beomeo_logo_b.png"></a>
          <ul class="gnb_menu">
            <li><a href="./1-1search.html">자료검색</a></li>
            <li><a href="./2-1lend.html">대여안내</a></li>
            <li><a href="boards/notice.html">열린공간</a></li>
            <li><a href="./4-1greetings.html">도서관 소개</a></li>
            <li><a href="./5-1myInfo.html">나의 도서관</a></li>
            <!--new start 10월 13일 메뉴바 수정-->
            <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" style="padding-top: 6px;" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg></a></li>
            <!--new end-->
          </ul>
        </div>
      </div>
    </div>
  </header>
  <div class="main_wrap">
    <div class="main_bottom">
      <div class="signup_top">
        <div class="signup_form">
          <div class="container">
            <form th:action="@{/register}" method="post" th:object="${userDTO}">
              <h2 class="signup_title">회원가입을 위해 정보를 입력해주세요.</h2>
              <label class="signup_info_form" >* 아이디<br>
                <input class="signup_info_form" name="userId" type="text" th:field="*{userId}"/><br><br>
              </label>
              <label class="signup_info_form" >* 비밀번호<br>
                <input class="signup_info" type="password" name="userPw" th:field="*{userPw}"/><br><br>
              </label>
              <label class="signup_info_form" >* 비밀번호 확인<br>
                <input class="signup_info" type="password"><br><br>
              </label>
              <label class="signup_info_form" >* 이름<br>
                <input class="signup_info" type="text" name="userName" th:field="*{userName}"/><br><br>
              </label>
              <label class="signup_info_form" for=>* 생년월일<br>
                <input class="signup_age" name="year" type="text" th:field="*{userBirth}" required/>년 &nbsp<input class="signup_age" name="month" type="text" th:field="*{userBirth}" required/>월 &nbsp<input class="signup_age" name="day" type="text" th:field="*{userBirth}" required/>일<br><br>
              </label>
              <label class="signup_info_form" for=>* 이메일<br>
                <input class="signup_email" type="text" name="emailPrefix" th:field="*{emailPrefix}" required>@
                <input id="signup_email" type='text' name="emailDns" th:field="*{emailDns}" required>
                <select name="emailaddr" style="width: 100px; height: 32px;">
                  <option value="" selected>직접입력</option>
                  <option value="daum.net">daum.net</option>
                  <option value="empal.com">empal.com</option>
                  <option value="gmail.com">gmail.com</option>
                  <option value="hanmail.net">hanmail.net</option>
                  <option value="msn.com">msn.com</option>
                  <option value="naver.com">naver.com</option>
                  <option value="nate.com">nate.com</option>
                </select><br><br>
              </label>
              <!-- 선택 영역 두번째 -->
              <!-- name을 부여함으로 인하여 radio의 선택 가능한 것들을 하나의 그룹으로 묶어준다. -->

              <div>
                <div class="signup_info_form">* 회원유형</div><br>
                <input type="radio" class="radio" name="userRole" th:value="'ROLE_USER'" th:checked="${userDTO.userRole == 'ROLE_USER'}" checked>&nbsp 일반 회원
                <input type="radio" class="radio" name="userRole" th:value="'ROLE_ADMIN'" th:checked="${userDTO.userRole == 'ROLE_ADMIN'}">&nbsp 관리자
              </div>
              <input type="checkbox" class="agree">&nbsp 이용약관 개인정보 수집 및 정보이용에 동의합니다.

              <br>
              <button class="signup_submit">가입하기</button>
              <!-- 기능자체는 input의 타입을 button으로 하면 사용은 가능하지만, 굳이 button 태그를 사용하는 이유는 -->
              <!-- 커스터마이징이 button 태그가 더 용이하기 때문이다. -->
              <!-- <input type="button" value="가입하기"> -->
            </form>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer_wrap">
    <div class="footer_top">
      <div class="ft_info">
        <div class="ft_menu">
          <div ><a href="">개인정보처리방침</a></div>
          <div ><a href="">영상정보처리방침</a></div>
          <div ><a href="">이용약관</a></div>
          <div ><a href="">도서관서비스헌장</a></div>
          <div ><a href="">저작권보호정책</a></div>
          <div ><a href="">뷰어다운로드</a></div>
        </div>
      </div>
    </div>
    <div class="footer_bottom">
      <div class="fb_info">
        <p> 대구 수성구 달구벌대로 2451 (범어동, 범어도서관) 전화 053-668-1600 팩스 053-668-1609<br/>Copyright ⓒ 수성구립 범어도서관. All rights reserved.</p>
      </div>
    </div>
  </footer>
</div>
</body>
</html>