<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="css/basic.css">
    <link rel="stylesheet" href="css/sub_header.css">
    <link rel="stylesheet" href="css/sub_main.css">
    <link rel="stylesheet" href="css/notice.css">
    <link rel="stylesheet" href="css/signup.css">
    <link rel="stylesheet" href="css/footer.css">


</head>
<body>
  <div class="wrapper">
    <header class="header_wrap">
      <div class="header_top">
        <div class="ht_info">
          <div class="tnb_menu">
            <a href="./login.html">로그인</a>
            <a href="./signup.html">회원가입</a>
          </div>
        </div>
      </div>
      <div class="header_bottom">
        <div class="hb_info">
          <div class="gnb">
            <a href="./main.html"><img class="BeomeoLogoB1" src="css/img/beomeo_logo_b.png"></a>
            <ul class="gnb_menu">
              <li><a href="./1-1search.html">자료검색</a></li>
              <li><a href="./2-1lend.html">대여안내</a></li>
              <li><a href="./3-1notice.html">열린공간</a></li>
              <li><a href="./4-1greetings.html">도서관 소개</a></li>
              <li><a href="./5-1myInfo.html">나의 도서관</a></li>
              <!--new start 10월 13일 메뉴바 수정-->
              <li><a href=""><svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" style="padding-top: 6px;" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg></a></li>
              <!--new end-->
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="main_wrap">
      <div class="main_bottom">
        <div class="signup_top">
          <div class="signup_form">
            <div class="container">
              <h2 class="signup_title">회원가입을 위해 정보를 입력해주세요.</h2>
              <!-- input도 inline요소중에 하나다. -->
              <!-- inline이란 하나의 태그가 레코드(가로)방향을 모두 차지하는게 아니라, 자신이 속한 영역만 가지게 되는 것이다. -->
              <div class="signup_info_form" for="email">* 아이디<br>
                <input class="signup_id" type="text">
                <!-- <button id="checkAvailabilityButton">중복 확인</button> -->
                <span id="availabilityMessage"></span>
              </div>
              <div class="signup_info_form" for="name">* 비밀번호<br>
                <input class="signup_pwd" type="password">
                <img class="input__icon" src="eye.svg" alt="Toggle Password">
              </div>
              <div class="signup_info_form" for="name">* 비밀번호 확인<br>
                <input class="signup_pwd-confirm" type="password">
                <img class="input__icon" src="eye.svg" alt="Toggle Password">
                <span id="passwordMatchMessage" class="error-message"></span>
              </div>
              <label class="signup_info_form" for="password2">* 이름<br>
                <input id="signup_info" type="text"><br><br>
              </label>
              <div class="signup_info_form">* 생년월일</div>
              <div class="birth_form">
                <div><select id="signup_year"></select> 년</div>
                <div><select id="signup_month"></select> 월</div>
                <div><select id="signup_day"></select> 일</div>
              </div>
              <br>
              <div class="signup_info_form" for="password2">* 이메일<br>
                <div class="signup_info_form2">
                  <div class="singup_email_form">
                    <input id="signup_email" type="text"> @ <input id="signup_email_prefix" type="text" name="email_prefix">
                  </div>
                  <div class="signup_domain_form">
                    <select id="email_domain" name="email_domain">
                      <option value="직접입력" selected>직접입력</option>
                      <option value="daum.net">daum.net</option>
                      <option value="empal.com">empal.com</option>
                      <option value="gmail.com">gmail.com</option>
                      <option value="hanmail.net">hanmail.net</option>
                      <option value="msn.com">msn.com</option>
                      <option value="naver.com">naver.com</option>
                      <option value="nate.com">nate.com</option>
                   </select><br><br>
                  </div>
                </div>
              </div>
              <!-- 선택 영역 두번째 -->
              <!-- name을 부여함으로 인하여 radio의 선택 가능한 것들을 하나의 그룹으로 묶어준다. -->
              <form>
                <div class="signup_info_form">* 회원유형</div><br>
                  <input type="radio" class="radio" name="gender" checked>&nbsp 일반 회원
                  <input type="radio" class="radio" name="gender">&nbsp 관리자
              </form>
              <br>
              <form>
                <input type="checkbox" class="agree">&nbsp 이용약관 개인정보 수집 및 정보이용에 동의합니다.
              </form>
              <br>
              <button class="signup_submit">가입하기</button>
              <!-- 기능자체는 input의 타입을 button으로 하면 사용은 가능하지만, 굳이 button 태그를 사용하는 이유는 -->
              <!-- 커스터마이징이 button 태그가 더 용이하기 때문이다. -->
              <!-- <input type="button" value="가입하기"> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer_wrap">
      <div class="footer_top">
        <div class="ft_info">
          <div class="ft_menu">
            <div ><a href="">개인정보처리방침</a></div>
            <div ><a href="">영상정보처리방침</a></div>
            <div ><a href="">이용약관</a></div>
            <div ><a href="">도서관서비스헌장</a></div>
            <div ><a href="">저작권보호정책</a></div>
            <div ><a href="">뷰어다운로드</a></div>
          </div>
        </div>
      </div>
      <div class="footer_bottom">
        <div class="fb_info">
          <p> 대구 수성구 달구벌대로 2451 (범어동, 범어도서관) 전화 053-668-1600 팩스 053-668-1609<br/>Copyright ⓒ 수성구립 범어도서관. All rights reserved.</p>
        </div>
      </div>
    </footer>
  </div>
  <script src="js/signup_check_id.js" ></script>
  <script src="js/signup_pwd_eye.js"></script>
  <script src="js/signup_check_pwd.js"></script>
  <script src="js/birth.js"></script>
  <script src="js/email.js"></script>
</body>
</html>